<form action="<%= session_url %>" method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <div class="sign-in group">
		
      	<div class="inputs email">
      	  <label class="label">Email or Phone</label>
      	  <input type="email" name="user[email]" id="email">
      	</div>
		
      	<div class="inputs password" >
      	 	<label class="label">Password</label>
      	  	<input type="password" name="user[password]" id="password">
      	</div>
		
      	<div class="inputs login">
      	  <input class="submit" type="submit" value="Log In" id="sign-in">
      	</div>
		
      </div>

</form>



