<form action="<%= session_url %>" method='post'>

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

<h1>Sign In</h1>

<label for="email">Email</label>
<input type="text" name="user[email]" id="email">

<br>

<label for="password">Password</label>
<input type="password" name="user[password]" id="password">

<br>
<br>

<input type='submit' value="Sign In">

</form>

<a href="<%= new_user_url %>">Sign Up</a>



