

<ul>
	<% threads.each(function(thread) {  %>
		<a href="#/threads/<%= thread.id %>">
			<li>
				<% id = thread.get("user_one") === FBClone.current_user.id ? thread.get("user_two") : thread.get("user_one") %>
			
				<%= FBClone.current_user.friends.get(id).get("first_name")  %>
								
				<br>
				<%= thread.messages.last().get("message") %>
			</li>
		</a>
		<br>
	<% }) %>
</ul>

