<form>
	<div class="styled-select">

		<select name="thread[user_two]" id="recipient">
	
			<% friends.each(function(friend) {  %>
   				<option value="<%= friend.id %>"><%= friend.get("first_name") %></option>
   			<% }) %>
	
  		</select>

  	</div>

	<textarea name="thread[first_message]"  placeholder="Write a new message..."></textarea>
	<input type="submit" value="Send Message" class="submit new-message-submit">
</form>	
	

