<h2>Notifications</h2>

<% @notifications.each do |notification| %>
	
	<a href="<%= notification_url(notification) %>">
		<%= notification.get_text %>
		<% unless notification.is_read? %>
			Unread
		<% end %>
	<a/>
	<br>

<% end %>