  <section class="chat group">

    <article class="online-users minimized-online-users">
      <div class="online-users-header">Chat</div>
      <div class="online-users-list"></div>
    </article>

    <article class="chat-boxes"></article>

  </section>

  <script>
  
  $(document).ready(function(){

    $chat = $(".chat")
    $onlineUsersList = $(".online-users-list")
    $chatBoxes = $(".chat-boxes")
    
    // setInterval(function(){ 

      $.ajax({
        url: "/online_friends",
        type: "GET",
        success: function (data) {
          $onlineUsersList.html(data)
        }
      });

    // }, 5000);

    $chat.on("ajax:success", "a", function(event, data){
      var boxID = $(data)[0].id
      
      $("#" + boxID).remove()
      $chatBoxes.append(data)
    });


    $(".chat-boxes").on("click", "a", function(){
        $(this).closest('article').remove()
    });

    $(".online-users-header").on("click", function(event){
      $(event.currentTarget).closest("article").toggleClass("minimized-online-users")
    })

  }); 

</script>