<section class="user_timeline">

  	<section class="posts"> 

  		<%= render partial: "createpost" %>

  		<br>

  		<% unless @user.received_posts.empty? %> 

    		<% @user.received_posts.each do |post| %>
      			<%= render partial: "/posts/post", locals: { post: post } %>
      		<br>
    		<% end %>

  		<% end %>

  	</section>

</section>