<h1> <%= @user.full_name %>'s Timeline </h1>

<section class="user_timeline">

	<%= render partial: "createpost" %>

  	<h2><%= @user.full_name %>'s Wall</h2>

  		<% unless @user.received_posts.empty? %> 

    		<% @user.received_posts.each do |post| %>
      			<%= render partial: "/posts/post", locals: { post: post } %>
      		<br>
    		<% end %>

  		<% end %>

</section>