<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BookFace | The Unsocial Network</title>
</head>


<body>

  <header class="navbar">
    <nav class="group">

      <div class="header-logo">
        <logo>BookFace</logo>
      </div>
      
      <%= render partial: "sessions/new" %>
     
    </nav>
  </header>

  <section class="body group">

    <div class="signup group">

     <div class="signup_intro">
       <div id="signup_header">Sign Up</div>
       <div class="signup_text">It's free and always will be.</div>
     </div>

     <form class="group" id="sign_up" action="<%= users_url %>" method="post">

     	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

         <div class="signup_fields" id="name">
           <input type="text" id="first_name" placeholder="First Name" name="user[first_name]">
           <input type="text" id="last_name" placeholder="Last Name" name="user[last_name]">
         </div>

         <div class="signup_fields" id="email">
           <input type="email" id="email" placeholder="Email" name="user[email]">
         </div>

         <div class="signup_fields" id="bdate">
           <input type="date" id="bdate" placeholder="BirthDate" name="user[birthDate]">
         </div>

         <div class="signup_fields" id="password">
           <input type="password" id="password" placeholder="Password" name="user[password]">
         </div>

         <div class="sign-up-button" id="signup_button">
           <input type="submit" value="Sign Up">
         </div>

     </form>

    </div>

  </section>


</body>
</html>
