<section class="album">
	
	<% if method == "edit" %>
		<form action="<%= album_url(album) %>" method="POST" enctype="multipart/form-data">	
		<input type="hidden" name="_method" value="PUT">
	<% else %>
		<form action="<%= user_albums_url(current_user) %>" method="POST" enctype="multipart/form-data">
	<% end %>	
	
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

		<br>


			<label for="album_name">Name</label>

				<input type="text" name="album[name]"<%if method == "edit"%> value="<%= album.name %>" <% end %>>
			
			
		
			<br>
			<br>
		

		<label>Add Photo</label>
		<input type="file" multiple name="photos[]">
		<br>
		<label>Add Photo</label>
		<input type="file" multiple name="photos[]">
		<br>
		<label>Add Photo</label>
		<input type="file" multiple name="photos[]">
		<br>
		<br>

		<% if method == "edit" %>
			<input type="submit" value="Edit Album" class="album-create">
		<% else %>
			<input type="submit" value="Create Album" class="album-create">
		<% end %>
	
	</form>

</section>