<section class="create_album">
	
	<h4>Edit your album</h4>

		<% @photos.each do |photo| %>

			<img src="<%= photo.file.url(:thumb) %>">
			

			<input type="hidden" name="photos[<%= photo.id %>][id]" value="<%= photo.id %>">
			<input type="checkbox" name="photos[keep][]" value="<%= photo.id %>">
		
		<% end %>
		
		<br>
		<input type="submit" value="Edit Album">

</form>

</section>